***Notes***

* Identified inconsistency between transfer record and player database (e.g., Oussama Tannane) --> will disregard for now as main factors transfer fee and FIFA attributes are not affected
* Club name need attention as spelling varies; scope limited with ~250 club names in transfer record database
* Transfer database needs attention; some players transferred more than once per year --> apply rule on how to tackle (highest value only, sum of all, average, etc.)

In [1]:
import pandas as pd
import numpy as np

# Import data

In [74]:
df_transfer = pd.read_csv("../../raw_data/transfer_history_combined.csv")

In [96]:
loan_information = pd.DataFrame(np.unique(df_transfer.loc[df_transfer["fee"].str.contains("loan", na = False)].fee, return_counts=True)).transpose()

In [97]:
loan_information.to_csv("../../raw_data/loan_info.csv")

In [82]:
df_transfer["fee"].str.contains("loan", na = False).unique()

array([False,  True])

In [32]:
df_players = pd.read_csv("../../raw_data/players_combined.csv")

# Data prep

## Transfer history

In [23]:
df_transfer.drop(columns=["Unnamed: 0", "fee", "age"], inplace=True)

In [24]:
## dropping NaNs in fee_cleaned
df_transfer = df_transfer.loc[df_transfer["fee_cleaned"].notna()]

## dropping 0.0 transfer fees
df_transfer = df_transfer.loc[df_transfer["fee_cleaned"]!=0]

## dropping in vs. out duplications
df_transfer = df_transfer.loc[df_transfer["transfer_movement"]!="out"]

df_transfer = df_transfer.loc[df_transfer["year"]>2014]

In [25]:
df_transfer = df_transfer.rename(
    columns={
        "club_name": "receiving_club",
        "club_involved_name": "giving_club",
        "league_name": "receiving_league"
    })

In [26]:
df_transfer.head()

,receiving_club,player_name,position,giving_club,transfer_movement,transfer_period,fee_cleaned,receiving_league,year,season
125629,Paris Saint-Germain,Ángel Di María,Right Winger,Man Utd,in,Summer,56.70,Ligue 1,2015,2015/2016
125630,Paris Saint-Germain,Layvin Kurzawa,Left-Back,Monaco,in,Summer,22.50,Ligue 1,2015,2015/2016
125631,Paris Saint-Germain,Serge Aurier,Right-Back,Toulouse,in,Summer,9.00,Ligue 1,2015,2015/2016
125632,Paris Saint-Germain,Kevin Trapp,Goalkeeper,E. Frankfurt,in,Summer,8.55,Ligue 1,2015,2015/2016
125633,Paris Saint-Germain,Benjamin Stambouli,Centre-Back,Spurs,in,Summer,7.74,Ligue 1,2015,2015/2016

In [64]:
df_transfer.loc[df_transfer["transfer_period"]=="Winter"]

,receiving_club,player_name,position,giving_club,transfer_movement,transfer_period,fee_cleaned,receiving_league,year,season
126156,AS Monaco,Jemerson,Centre-Back,Atlético-MG,in,Winter,9.90,Ligue 1,2015,2015/2016
126157,AS Monaco,Vágner Love,Centre-Forward,Corinthians,in,Winter,1.35,Ligue 1,2015,2015/2016
126169,AS Saint-Étienne,Ole Selnaes,Defensive Midfield,Rosenborg BK,in,Winter,2.88,Ligue 1,2015,2015/2016
126170,AS Saint-Étienne,Oussama Tannane,Right Winger,Heracles Almelo,in,Winter,2.25,Ligue 1,2015,2015/2016
126171,AS Saint-Étienne,Alexander Söderlund,Centre-Forward,Rosenborg BK,in,Winter,1.80,Ligue 1,2015,2015/2016
...,...,...,...,...,...,...,...,...,...,...
169366,Getafe CF,Takefusa Kubo,Right Winger,Real Madrid,in,Winter,1.13,Primera Division,2020,2020/2021
169375,Real Sociedad,Carlos Fernández,Centre-Forward,Sevilla FC,in,Winter,9.00,Primera Division,2020,2020/2021
169396,Real Valladolid CF,Lucas Olaza,Left-Back,Boca Juniors,in,Winter,0.45,Primera Division,2020,2020/2021
169421,Celta de Vigo,Augusto Solari,Right Winger,Racing Club,in,Winter,0.45,Primera Division,2020,2020/2021
173866,Manchester City,Kayky,Right Winger,Fluminense,in,Winter,9.00,Premier League,2021,2021/2022

In [27]:
df_transfer.shape

(5460, 10)

In [28]:
df_transfer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5460 entries, 125629 to 174332
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   receiving_club     5460 non-null   object
 1   player_name        5460 non-null   object
 2   position           5460 non-null   object
 3   giving_club        5460 non-null   object
 4   transfer_movement  5460 non-null   object
 5   transfer_period    5460 non-null   object
 6   fee_cleaned        5460 non-null   float64
 7   receiving_league   5460 non-null   object
 8   year               5460 non-null   int64
 9   season             5460 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 469.2+ KB

## Players info

In [33]:
df_players.drop(columns=["Unnamed: 0", "player_url", "short_name"], inplace=True)

In [34]:
df_players.head()

,sofifa_id,long_name,age,dob,height_cm,weight_kg,nationality,club_name,league_name,league_rank,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,fifa year
0,158023,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,Spain Primera Division,1.0,...,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,2015
1,20801,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,Spain Primera Division,1.0,...,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,2015
2,9014,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,German 1. Bundesliga,1.0,...,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,2015
3,41236,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,French Ligue 1,1.0,...,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,2015
4,167495,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,German 1. Bundesliga,1.0,...,40+3,40+3,40+3,36+3,36+3,38+3,38+3,38+3,36+3,2015

### Checking for duplicates with keys *long_name* and *fifa year*

In [47]:
df_test = df_players[["long_name", "fifa year", "club_name"]]

In [48]:
print(df_test.shape)
print(df_test.drop_duplicates().shape)

(122841, 3)
(122836, 3)

340 duplicates detected on name, year level

# Merging databases

In [57]:
df_merged = df_transfer.merge(df_players, left_on=["player_name", "year"], right_on=["long_name", "fifa year"], how="inner")

## Club name side investigation

In [61]:
len(df_transfer.receiving_club.unique())

236

In [63]:
len(df_players.club_name.unique())

954

## Data exploration

In [58]:
df_merged.shape

(2503, 115)

In [42]:
df_merged.head()

,receiving_club,player_name,position,giving_club,transfer_movement,transfer_period,fee_cleaned,receiving_league,year,season,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,fifa year
0,Paris Saint-Germain,Layvin Kurzawa,Left-Back,Monaco,in,Summer,22.50,Ligue 1,2015,2015/2016,...,74+0,74+0,74+0,77+0,76+0,74+0,74+0,74+0,76+0,2015
1,Paris Saint-Germain,Serge Aurier,Right-Back,Toulouse,in,Summer,9.00,Ligue 1,2015,2015/2016,...,76+0,76+0,76+0,77+0,77+0,77+0,77+0,77+0,77+0,2015
2,Paris Saint-Germain,Kevin Trapp,Goalkeeper,E. Frankfurt,in,Summer,8.55,Ligue 1,2015,2015/2016,...,34+0,34+0,34+0,32+0,32+0,34+0,34+0,34+0,32+0,2015
3,Paris Saint-Germain,Benjamin Stambouli,Centre-Back,Spurs,in,Summer,7.74,Ligue 1,2015,2015/2016,...,76+0,76+0,76+0,72+0,72+0,74+0,74+0,74+0,72+0,2015
4,Olympique Lyon,Claudio Beauvue,Centre-Forward,Guingamp,in,Summer,5.40,Ligue 1,2015,2015/2016,...,54+0,54+0,54+0,55+0,50+0,47+0,47+0,47+0,50+0,2015

### Check for duplicated players after merging

In [68]:
df_temp_1 = df_merged[["player_name", "year"]]

In [69]:
print(df_temp_1.shape)
print(df_temp_1.drop_duplicates().shape)

(2503, 2)
(2439, 2)

In [71]:
df_temp_1.loc[df_temp_1.duplicated()]

              player_name  year
5         Claudio Beauvue  2015
8            Adama Traoré  2015
14    Stephan El Shaarawy  2015
51         Joshua Kimmich  2015
143     Andrea Bertolacci  2015
...                   ...   ...
1938     Giovani Lo Celso  2019
1992           Danny Rose  2019
2139     Andrea Pinamonti  2020
2142          Mattia Bani  2020
2281           Ben Davies  2020

[64 rows x 2 columns]

In [73]:
df_merged.loc[df_merged["player_name"]=="Stephan El Shaarawy"]

,receiving_club,player_name,position,giving_club,transfer_movement,transfer_period,fee_cleaned,receiving_league,year,season,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,fifa year
13,AS Monaco,Stephan El Shaarawy,Left Winger,AC Milan,in,Summer,1.80,Ligue 1,2015,2015/2016,...,57+1,57+1,57+1,59+1,52+1,44+1,44+1,44+1,52+1,2015
14,AS Roma,Stephan El Shaarawy,Left Winger,AC Milan,in,Winter,1.26,Serie A,2015,2015/2016,...,57+1,57+1,57+1,59+1,52+1,44+1,44+1,44+1,52+1,2015
572,AS Roma,Stephan El Shaarawy,Left Winger,AC Milan,in,Summer,11.70,Serie A,2016,2016/2017,...,54+1,54+1,54+1,59+1,55+1,45+1,45+1,45+1,55+1,2016

### Sort df to remove duplicates thereafter

In [100]:
df_merged.sort_values(["fifa year", "player_name", "fee_cleaned"], ascending = (True, True, False), inplace=True)

In [106]:
df_merged.loc[df_merged["player_name"]=="Joshua Kimmich"]

,receiving_club,player_name,position,giving_club,transfer_movement,transfer_period,fee_cleaned,receiving_league,year,season,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,fifa year
50,Bayern Munich,Joshua Kimmich,Defensive Midfield,VfB Stuttgart,in,Summer,7.65,1 Bundesliga,2015,2015/2016,...,63+0,63+0,63+0,62+0,59+0,57+0,57+0,57+0,59+0,2015

In [105]:
df_merged.drop_duplicates(keep="first", inplace=True, subset=["player_name", "fifa year"])

In [107]:
df_merged.shape

(2439, 115)

### Saving baseline data frame

In [108]:
df_merged.to_csv("../../raw_data/baseline_df.csv")