In [1]:
import pandas as pd
import numpy as np
import requests

In [3]:
no_match_df = pd.read_csv('../raw_data/not_matching_names.csv')

In [2]:
no_match_df.drop(labels='Unnamed: 0', axis=1, inplace=True)
no_match_df

                name
0     Ángel Di María
1       Sergi Darder
2             Rafael
3      Olivier Kemen
4     Ivan Cavaleiro
...              ...
1818    Iván Marcone
1819      Lucas Boyé
1820   Matthew Hoppe
1821   Dominik Greif
1822     Fran García

[1823 rows x 1 columns]

In [4]:
url = "https://sofifa.com/players"
    params = {
        'keyword': 'joao pedro'
    }
    response = requests.get(url, params=params)
    soup = BeautifulSoup(response.content, 'html.parser')
        sofifa_id = soup.find_all("img", class_="player-check").get('id')

NameError: name 'url' is not defined