In [1]:
import pandas as pd

In [2]:
df_transfer = pd.read_csv("../raw_data/transfer_history_combined.csv")

In [4]:
df_players = pd.read_csv("../raw_data/players_combined.csv")

In [6]:
df_transfer.player_name

0              Zinédine Zidane
1                Laurent Croci
2               Philippe Lucas
3                Márcio Santos
4         Jean-Francois Daniel
                  ...
174350             Iván Martos
174351                 Antoñín
174352             Fran García
174353        Santiago Cáseres
174354           Lass Bangoura
Name: player_name, Length: 174355, dtype: object

In [44]:
## dropping NaNs in fee_cleaned
df_transfer = df_transfer.loc[df_transfer["fee_cleaned"].notna()]

## dropping 0.0 transfer fees
df_transfer = df_transfer.loc[df_transfer["fee_cleaned"]!=0]

## dropping in vs. out duplications
df_transfer = df_transfer.loc[df_transfer["transfer_movement"]!="out"]

df_transfer = df_transfer.loc[df_transfer["year"]>2014]

In [63]:
unique_transfer = pd.DataFrame(df_transfer.player_name.unique(), columns=["name"])
unique_transfer.shape

(3895, 1)

In [64]:
unique_transfer

                    name
0         Ángel Di María
1         Layvin Kurzawa
2           Serge Aurier
3            Kevin Trapp
4     Benjamin Stambouli
...                  ...
3890       Matthew Hoppe
3891       Dominik Greif
3892         Fran García
3893         Randy Nteka
3894          Pathé Ciss

[3895 rows x 1 columns]

In [52]:
unique_players = pd.DataFrame(df_players[["sofifa_id", "long_name"]].drop_duplicates())
unique_players

        sofifa_id                            long_name
0          158023       Lionel Andrés Messi Cuccittini
1           20801  Cristiano Ronaldo dos Santos Aveiro
2            9014                         Arjen Robben
3           41236                   Zlatan Ibrahimović
4          167495                         Manuel Neuer
...           ...                                  ...
122835     257933                        Wenzhuo Huang
122836     256679                         Kevin Angulo
122837     257710                       Mengxuan Zhang
122839     257697                          Zitong Chen
122840     257936                             Yue Song

[42193 rows x 2 columns]

In [75]:
import numpy as np

In [78]:
pd.DataFrame(
    unique_transfer.merge(
        unique_players, how="inner", left_on="name",
        right_on="long_name").name).to_csv("../raw_data/matching_names.csv")

In [80]:
outer_merge = unique_transfer.merge(
        unique_players, how="outer", left_on="name",
        right_on="long_name")

In [83]:
outer_merge.loc[outer_merge["long_name"].isna()][["name"]].to_csv("../raw_data/not_matching_names.csv")