In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("../raw_data/matching_names.csv")
df

      Unnamed: 0                name
0              0      Layvin Kurzawa
1              1        Serge Aurier
2              2         Kevin Trapp
3              3  Benjamin Stambouli
4              4   Mapou Yanga-Mbiwa
...          ...                 ...
2089        2089         Yusuf Demir
2090        2090   Eduardo Camavinga
2091        2091         Boulaye Dia
2092        2092         Randy Nteka
2093        2093          Pathé Ciss

[2094 rows x 2 columns]