In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
transfer_df = pd.read_csv('../data/transfer_history_combined.csv')

In [62]:
transfer_df.shape

(174355, 13)

In [63]:
transfer_df.head()

,Unnamed: 0,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
0,0,FC Girondins Bordeaux,Zinédine Zidane,20.0,Attacking Midfield,Cannes,£6.30m,in,Summer,6.3,Ligue 1,1992,1992/1993
1,1,FC Girondins Bordeaux,Laurent Croci,27.0,Defensive Midfield,FC Sochaux,?,in,Summer,NaN,Ligue 1,1992,1992/1993
2,2,FC Girondins Bordeaux,Philippe Lucas,28.0,Defensive Midfield,FC Sochaux,?,in,Summer,NaN,Ligue 1,1992,1992/1993
3,3,FC Girondins Bordeaux,Márcio Santos,22.0,Centre-Back,Botafogo,?,in,Summer,NaN,Ligue 1,1992,1992/1993
4,4,FC Girondins Bordeaux,Jean-Francois Daniel,28.0,Central Midfield,Cannes,?,in,Summer,NaN,Ligue 1,1992,1992/1993

In [65]:
transfer_df.drop(labels='Unnamed: 0', axis=1, inplace=True)

In [66]:
transfer_df.head()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
0,FC Girondins Bordeaux,Zinédine Zidane,20.0,Attacking Midfield,Cannes,£6.30m,in,Summer,6.3,Ligue 1,1992,1992/1993
1,FC Girondins Bordeaux,Laurent Croci,27.0,Defensive Midfield,FC Sochaux,?,in,Summer,NaN,Ligue 1,1992,1992/1993
2,FC Girondins Bordeaux,Philippe Lucas,28.0,Defensive Midfield,FC Sochaux,?,in,Summer,NaN,Ligue 1,1992,1992/1993
3,FC Girondins Bordeaux,Márcio Santos,22.0,Centre-Back,Botafogo,?,in,Summer,NaN,Ligue 1,1992,1992/1993
4,FC Girondins Bordeaux,Jean-Francois Daniel,28.0,Central Midfield,Cannes,?,in,Summer,NaN,Ligue 1,1992,1992/1993

In [67]:
transfer_df.describe()

                 age    fee_cleaned           year
count  174301.000000  143610.000000  174355.000000
mean       24.366865       0.849148    2008.668057
std         6.216425       3.820889       7.841600
min     -1776.000000       0.000000    1992.000000
25%        21.000000       0.000000    2003.000000
50%        24.000000       0.000000    2010.000000
75%        27.000000       0.000000    2015.000000
max       117.000000     199.800000    2021.000000

In [69]:
transfer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174355 entries, 0 to 174354
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   club_name           174355 non-null  object
 1   player_name         174355 non-null  object
 2   age                 174301 non-null  float64
 3   position            174352 non-null  object
 4   club_involved_name  174355 non-null  object
 5   fee                 174211 non-null  object
 6   transfer_movement   174355 non-null  object
 7   transfer_period     159923 non-null  object
 8   fee_cleaned         143610 non-null  float64
 9   league_name         174355 non-null  object
 10  year                174355 non-null  int64
 11  season              174355 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 16.0+ MB

### League Names

In [70]:
transfer_df.league_name.unique()

array(['Ligue 1', '1 Bundesliga', 'Liga Nos', 'Eredivisie', 'Serie A',
       'Premier Liga', 'Championship', 'Premier League',
       'Primera Division'], dtype=object)

Having the `league_names` can help us segment the data as being country specific

In [85]:
transfer_df.tail()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
174350,Rayo Vallecano,Iván Martos,24.0,Centre-Back,UD Almería,"End of loanJun 30, 2021",out,Summer,0.0,Primera Division,2021,2021/2022
174351,Rayo Vallecano,Antoñín,21.0,Centre-Forward,Granada CF,"End of loanJun 30, 2021",out,Summer,0.0,Primera Division,2021,2021/2022
174352,Rayo Vallecano,Fran García,22.0,Left-Back,RM Castilla,"End of loanJun 30, 2021",out,Summer,0.0,Primera Division,2021,2021/2022
174353,Villarreal CF,Santiago Cáseres,24.0,Defensive Midfield,Vélez Sarsfield,"End of loanDec 31, 2021",in,Winter,0.0,Primera Division,2021,2021/2022
174354,Rayo Vallecano,Lass Bangoura,29.0,Right Winger,CS Emelec,"End of loanDec 31, 2021",in,Winter,0.0,Primera Division,2021,2021/2022

## What should we do with `Nan` values in the `fee_cleaned` column?

In [73]:
transfer_df.fee_cleaned.isnull().sum()

30745

In [74]:
transfer_df.fee_cleaned.isnull().sum()/df.shape[0]

0.1763356370623154

We have a 17.6% of null values in the `fee_cleaned` column

# Load the FIFA dataset

In [75]:
fifa_df = pd.read_csv('../data/players_combined.csv')

In [78]:
fifa_df.drop(labels='Unnamed: 0', axis=1, inplace=True)

In [92]:
fifa_df.head(2)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,fifa year
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,2015
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,2015

# Try and match both columns

get a list of all the player names in the `transfer_df`

In [96]:
player_names = transfer_df.player_name

run a for loop with all the `player_names` on the `fifa_df` if the name matches keep a count

In [ ]:
for player in player_names:
    if

In [95]:
fifa_df[fifa_df['long_name'].str.contains('Iván Martos')]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,fifa year
95507,246279,https://sofifa.com/player/246279/ivan-martos-c...,Iván Martos,Iván Martos Campillo,22,1997-05-15,182,68,Spain,UD Almería,...,60+2,60+2,60+2,64+2,64+2,63+2,63+2,63+2,64+2,2020
109473,246279,https://sofifa.com/player/246279/ivan-martos-c...,Iván Martos,Iván Martos Campillo,23,1997-05-15,182,68,Spain,UD Almería,...,61+2,61+2,61+2,66+2,67+2,66+2,66+2,66+2,67+2,2021

### Which clubs have made the most money out of transfers?

This value might be a little skewed has I have summed all values. We need to only sum the `in`

## SPANISH EDA

While analysing the dataset we might need to clean a little bit further, as players have `in` and `out` values on their `transfer_movement` feature.
This means that we will have **duplicate** values for the same player