In [127]:
import pandas as pd
import numpy as np
df_model = pd.read_csv("../../raw_data/master_df_with_webscraping.csv")

In [128]:
print(df_model.columns.tolist())

['fee_cleaned', 'age', 'height_cm', 'weight_kg', 'nationality', 'club_name', 'league_name', 'league_rank', 'overall', 'potential', 'wage_eur', 'player_positions', 'preferred_foot', 'international_reputation', 'weak_foot', 'skill_moves', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'team_position', 'team_jersey_number', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning', 'player_traits', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'fifa year', 'national_team', 'seasons_with_club', 'on_loan', 'remaining_seasons_on_contract']

In [129]:
df_model.drop('height_cm', axis=1, inplace=True)
df_model.drop('weight_kg', axis=1, inplace=True)
df_model.drop('nationality', axis=1, inplace=True)
df_model.drop('fifa year', axis=1, inplace=True)
df_model.drop('preferred_foot', axis=1, inplace=True)

In [130]:
df_model["age"]

0       17
1       27
2       27
3       24
4       21
        ..
3911    25
3912    21
3913    22
3914    16
3915    26
Name: age, Length: 3916, dtype: int64

In [131]:
df_model

,fee_cleaned,age,club_name,league_name,league_rank,overall,potential,wage_eur,player_positions,international_reputation,...,rwb,lb,lcb,cb,rcb,rb,national_team,seasons_with_club,on_loan,remaining_seasons_on_contract
0,0.069,17,Newport County,English League Two,4.0,41,50,2000,ST,1,...,31,32,31,31,31,32,0,1,0,0.0
1,2.700,27,VfL Wolfsburg,German 1. Bundesliga,1.0,78,78,80000,"CAM, CM, LM",2,...,63,59,53,53,53,59,0,1,0,2.0
2,5.400,27,Tottenham Hotspur,English Premier League,1.0,79,79,90000,"RM, LM",2,...,59,50,41,41,41,50,0,10,0,1.0
3,1.530,24,Angers SCO,French Ligue 2,2.0,69,73,9000,LM,1,...,53,49,45,45,45,49,0,1,0,2.0
4,9.540,21,Stade Rennais FC,French Ligue 1,1.0,70,78,20000,"CM, CAM",1,...,65,65,66,66,66,65,0,4,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3911,4.500,25,Atl√©tico Madrid,Spain Primera Division,1.0,84,87,77000,"CM, LM, LB",3,...,79,78,79,79,79,78,1,8,0,5.0
3912,16.740,21,Bologna,Italian Serie A,1.0,72,83,14000,"RB, CB",1,...,70,70,72,72,72,70,0,2,0,3.0
3913,0.522,22,Lincoln City,English League One,3.0,61,70,2000,"CM, LM",1,...,63,63,61,61,61,63,0,1,0,1.0
3914,4.050,16,Vejle Boldklub,Danish Superliga,1.0,56,81,500,"ST, RM",1,...,37,36,34,34,34,36,0,1,0,1.0
3915,3.600,26,Bayer 04 Leverkusen,German 1. Bundesliga,1.0,77,78,50000,LB,2,...,76,75,72,72,72,75,0,7,0,1.0

In [132]:
bins = [10,20,22,25,29,45, np.inf]
names = ['less desirable', 'desirable', 'highly desirable', 'desirable2', 'less desirable2','sd']

df_model['age'] = pd.cut(df_model['age'], bins, labels=names)

df_model

df_model['age'] = df_model['age'].apply(lambda x: 'desirable' if x == 'desirable2' else x)
df_model['age'] = df_model['age'].apply(lambda x: 'less desirable' if x == 'less desirable2' else x)

In [126]:
df_model

,fee_cleaned,age,club_name,league_name,league_rank,overall,potential,wage_eur,player_positions,preferred_foot,...,lb,lcb,cb,rcb,rb,fifa year,national_team,seasons_with_club,on_loan,remaining_seasons_on_contract
0,0.069,less desirable,Newport County,English League Two,4.0,41,50,2000,ST,Right,...,32,31,31,31,32,2015,0,1,0,0.0
1,2.700,desirable,VfL Wolfsburg,German 1. Bundesliga,1.0,78,78,80000,"CAM, CM, LM",Left,...,59,53,53,53,59,2015,0,1,0,2.0
2,5.400,desirable,Tottenham Hotspur,English Premier League,1.0,79,79,90000,"RM, LM",Right,...,50,41,41,41,50,2015,0,10,0,1.0
3,1.530,highly desirable,Angers SCO,French Ligue 2,2.0,69,73,9000,LM,Left,...,49,45,45,45,49,2015,0,1,0,2.0
4,9.540,desirable,Stade Rennais FC,French Ligue 1,1.0,70,78,20000,"CM, CAM",Right,...,65,66,66,66,65,2015,0,4,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3911,4.500,highly desirable,Atl√©tico Madrid,Spain Primera Division,1.0,84,87,77000,"CM, LM, LB",Left,...,78,79,79,79,78,2021,1,8,0,5.0
3912,16.740,desirable,Bologna,Italian Serie A,1.0,72,83,14000,"RB, CB",Right,...,70,72,72,72,70,2021,0,2,0,3.0
3913,0.522,desirable,Lincoln City,English League One,3.0,61,70,2000,"CM, LM",Left,...,63,61,61,61,63,2021,0,1,0,1.0
3914,4.050,less desirable,Vejle Boldklub,Danish Superliga,1.0,56,81,500,"ST, RM",Right,...,36,34,34,34,36,2021,0,1,0,1.0
3915,3.600,desirable,Bayer 04 Leverkusen,German 1. Bundesliga,1.0,77,78,50000,LB,Left,...,75,72,72,72,75,2021,0,7,0,1.0